.snackbar-success {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    text-align: center;
  }

.snackbar-error {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    text-align: center;
  }